In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import folium
from folium import plugins
import datetime as dt

%matplotlib inline 
plt.style.use('ggplot')
pd.set_option('display.max_columns', None)

# Import data

### 2016

In [2]:
df16 = pd.read_csv('data/CsvIncidenti2016.csv',delimiter=',')
df16.head(3)

,ID,Gruppo,DataOraIncidente,Localizzazione1,Localizzazione2,Strada02,Strada1,Strada2,Chilometrica,DaSpecificare,NaturaIncidente,ParticolaritaStrade,TipoStrada,FondoStradale,Pavimentazione,Segnaletica,CondizioneAtmosferica,traffico,Visibilita,Illuminazione,NUM_FERITI,NUM_RISERVATA,NUM_MORTI,NUM_ILLESI,Longitudine,Latitudine,Confermato
0,2641443,5,2016-01-01 00:30:00.000,Strada Urbana,in prossimità,del civico n.,VIA GIUSEPPE DONATI,NaN,131,NaN,Veicolo in marcia contro veicoli in sosta,Rettilineo,Una carreggiata a doppio senso,Bagnato (umidità in atto),Asfaltata,Assente,Nuvoloso,NaN,Buona,Ore Diurne,0,0,0,0,12.55253,41.90785,NaN
1,2639429,20,2016-01-01 01:40:00.000,Provinciale,da specificare,NaN,VIA DI VALLE MURICANA,NaN,NaN,"proassimità km. 6,800",Fuoriuscita dalla sede stradale,Rettilineo,Una carreggiata a doppio senso,Asciutto,Asfaltata,Orizzontale,Sereno,NaN,Buona,Inesistente,1,0,0,0,12.46918,42.02333,NaN
2,2651512,18,2016-01-01 01:45:00.000,Strada Urbana,all'intersezione con,VIA AURELIA,VIA AURELIA,VIA AURELIA,NaN,NaN,Scontro laterale fra veicoli in marcia,Intersezione stradale segnalata,Una carreggiata a doppio senso,Asciutto,Asfaltata,Assente,Sereno,NaN,Buona,Sufficiente,1,0,0,7,12.42059,41.89682,NaN

In [3]:
df16 = df16.rename(columns={'traffico':'Traffico'})

### 2015

In [4]:
df15 = pd.read_csv('data/CsvIncidenti2015.csv',delimiter=',')
df15.head(3)

,ID,Gruppo,Strada1,Strada2,Strada02,Traffico,NUM_MORTI,TipoStrada,Visibilita,NUM_FERITI,NUM_ILLESI,Latitudine,CONFERMATO,Segnaletica,Longitudine,Chilometrica,DaSpecificare,FondoStradale,Illuminazione,NUM_RISERVATA,Pavimentazione,Localizzazione1,Localizzazione2,NaturaIncidente,DataOraIncidente,ParticolaritaStrade,CondizioneAtmosferica
0,2242899,17,LUNGOTEVERE DELLA VITTORIA,NaN,del civico n.,Scarso,0,Una carreggiata a doppio senso,Buona,0,0,41.92188,1,Orizzontale,12.46369,11,NaN,Asciutto,Ore Diurne,0,Asfaltata,Strada Urbana,in corrispondenza,Veicolo in marcia contro veicolo in sosta,2015-01-01 00:00:00.000,Rettilineo,Sereno
1,2242345,5,VIA RINALDO D'AQUINO,NaN,NaN,Normale,0,Una carreggiata a senso unico di marcia,Buona,0,0,41.96989,1,Verticale ed orizzontale,12.61306,NaN,rotatoria con Via Nomentana,Asciutto,Ore Diurne,0,Asfaltata,Strada Urbana,da specificare,Veicolo in marcia contro ostacolo fisso,2015-01-01 00:00:00.000,Curva a visuale libera,Sereno
2,2242463,1,LUNGOTEVERE DEI TEBALDI,NaN,del civico n.,Normale,0,Una carreggiata a senso unico di marcia,Buona,1,1,41.89466,1,Verticale ed orizzontale,12.46860,15,NaN,Asciutto,Sufficiente,0,Asfaltata,Strada Urbana,in prossimità,Investimento di pedone,2015-01-01 00:40:00.000,Rettilineo,Sereno

In [5]:
df15 = df15.rename(columns={'CONFERMATO':'Confermato'})

In [6]:
len(df15)

28905

### 2014

In [7]:
df14 = pd.read_csv('data/CsvIncidenti2014.csv',delimiter=',')
df14.head(3)

,ID,Gruppo,Strada1,Strada2,Strada02,Traffico,NUM_MORTI,TipoStrada,Visibilita,NUM_FERITI,NUM_ILLESI,Latitudine,CONFERMATO,Segnaletica,Longitudine,Chilometrica,DaSpecificare,FondoStradale,Illuminazione,NUM_RISERVATA,Pavimentazione,Localizzazione1,Localizzazione2,NaturaIncidente,DataOraIncidente,ParticolaritaStrade,CondizioneAtmosferica
0,1968472,8,VIA MANDANICI,VIA GUARDIA PIEMONTESE,VIA GUARDIA PIEMONTESE,Normale,0,Una carreggiata a doppio senso,Buona,0,0,41.868250,1,Orizzontale,12.683580,NaN,NaN,Asciutto,Sufficiente,0,Asfaltata,Strada Urbana,all'intersezione con,Veicolo in marcia contro ostacolo fisso,2014-01-01 00:10:00.000,Intersezione non regolata/non segnalata,Sereno
1,1968743,20,PONTE FLAMINIO,NaN,NaN,Normale,0,Una carreggiata a doppio senso,Sufficiente,0,3,41.936570,1,Verticale ed orizzontale,12.471620,NaN,alt. terzultima colonna direzione via lupi,Asciutto,Sufficiente,0,Asfaltata,Strada Urbana,da specificare,Tamponamento,2014-01-01 00:20:00.000,Rettilineo,Sereno
2,1968781,2,VIA ANTONIO GRAMSCI,NaN,del civico n.,Scarso,0,Una carreggiata a senso unico di marcia,Buona,0,3,41.923058,1,Verticale ed orizzontale,12.476971,8,NaN,Asciutto,Sufficiente,0,Asfaltata,Strada Urbana,in prossimità,Tamponamento Multiplo,2014-01-01 01:00:00.000,Rettilineo,Sereno

In [8]:
df14 = df14.rename(columns={'CONFERMATO':'Confermato'})

In [9]:
len(df14)

29662

### 2007-2013

In [10]:
df0713 = pd.read_csv('data/CsvIncidenti20072013.csv',delimiter=',')
df0713.head(3)

,ID,Gruppo,Strada1,Strada2,Strada02,Traffico,NUM_MORTI,TipoStrada,Visibilita,NUM_FERITI,NUM_ILLESI,Latitudine,CONFERMATO,Segnaletica,Longitudine,Chilometrica,DaSpecificare,FondoStradale,Illuminazione,NUM_RISERVATA,Pavimentazione,Localizzazione1,Localizzazione2,NaturaIncidente,DataOraIncidente,ParticolaritaStrade,CondizioneAtmosferica
0,1707637,18,VIA ANASTASIO II,NaN,del civico n.,Normale,0,Due carreggiate,Buona,0,0,NaN,1,Verticale ed orizzontale,NaN,151-153,NaN,Asciutto,Sufficiente,0,Asfaltata,Strada Urbana,in prossimità,Veicolo in marcia contro veicolo in sosta,2007-01-01 00:00:00.000,Rettilineo,Nuvoloso
1,1708657,4,VIA NOMENTANA,NaN,del civico n.,Normale,0,Più di due carreggiate,Buona,2,9,NaN,1,Verticale ed orizzontale,NaN,537,NaN,Asciutto,Sufficiente,0,Asfaltata,Provinciale entro l'abitato,in prossimità,Tamponamento Multiplo,2007-01-01 00:40:00.000,Rettilineo,Nuvoloso
2,1707214,18,VIA MATTIA BATTISTINI,NaN,del civico n.,Normale,0,Una carreggiata a doppio senso,Buona,1,2,NaN,1,Orizzontale,NaN,123/A,NaN,Bagnato (pioggia),Sufficiente,0,Asfaltata,Strada Urbana,in prossimità,Scontro frontale/laterale DX fra veicoli in ma...,2007-01-01 01:10:00.000,Rettilineo,Pioggia in atto

In [11]:
df0713 = df0713.rename(columns={'CONFERMATO':'Confermato',
                                ' NaturaIncidente':'NaturaIncidente'})

# 2017

In [14]:
files_2017 = ['CSV_Incidenti_2017_agosto.csv',
            'Incidenti_Maggio_2017.csv',
            'CSV_Incidenti_2017_luglio.csv',
            'Incidenti_genn_febb_new_2017.csv',
            'Incidenti_Aprile_2017.csv',
            'Incidenti_mar_2017.csv',
            'Incidenti_Giugno_2017.csv']
df17 = pd.DataFrame()
for f in files_2017:
    print(f)
    df_temp = pd.read_csv('data/2017/{}'.format(f), delimiter=';', encoding="ISO-8859-1", decimal=',')\
                .rename(columns={'STRADA1':'Strada1',
                                 'STRADA2':'Strada2',
                                 'particolaritastrade':'ParticolaritaStrade'})
    #print(df_temp.columns.values.tolist())
    df17 = pd.concat([df17,df_temp])
    #print('STRADA1' in df17.columns)

CSV_Incidenti_2017_agosto.csv
Incidenti_Maggio_2017.csv
CSV_Incidenti_2017_luglio.csv
Incidenti_genn_febb_new_2017.csv
Incidenti_Aprile_2017.csv
Incidenti_mar_2017.csv
Incidenti_Giugno_2017.csv

In [17]:
len([c for c in df17.columns if c in df14.columns])

26

In [18]:
[c for c in df14.columns if c not in df17.columns]

['ID']

In [19]:
[c for c in df17.columns if c not in df14.columns]

['Protocollo',
 'Progressivo',
 'TipoVeicolo',
 'StatoVeicolo',
 'Marca',
 'Modello',
 'TipoPersona',
 'AnnoNascita',
 'Sesso',
 'Tipolesione',
 'Deceduto',
 'DecedutoDopo',
 'CinturaCascoUtilizzato',
 'Airbag',
 'Unnamed: 40']

In [20]:
df17.drop(['Protocollo',
 'Progressivo',
 'TipoVeicolo',
 'StatoVeicolo',
 'Marca',
 'Modello',
 'TipoPersona',
 'AnnoNascita',
 'Sesso',
 'Tipolesione',
 'Deceduto',
 'DecedutoDopo',
 'CinturaCascoUtilizzato',
 'Airbag',
 'Unnamed: 40'], axis=1, inplace=True)

In [21]:
max(df14.ID.values.tolist() + df15.ID.values.tolist() + df16.ID.values.tolist() + df0713.ID.values.tolist())

3193888

In [22]:
df17['ID'] = range(3193888, 3193888+len(df17))

# Check columns

In [23]:
len(df14.columns),len(df15.columns),len(df16.columns),len(df0713.columns),len(df17.columns)

(27, 27, 27, 27, 27)

In [24]:
all_columns = list(set(list(df14.columns) + list(df15.columns) + list(df16.columns) + list(df17.columns)))
len(all_columns)

27

In [25]:
print([c for c in all_columns if c not in df0713.columns])
print([c for c in all_columns if c not in df14.columns])
print([c for c in all_columns if c not in df15.columns])
print([c for c in all_columns if c not in df16.columns])
print([c for c in all_columns if c not in df17.columns])

[]
[]
[]
[]
[]

# Merge the datasets

In [26]:
df = pd.concat([df0713,df14,df15,df16,df17])

In [27]:
df0713,df14,df15,df16,df17 = None, None, None, None, None

In [29]:
df[['Latitudine','Longitudine']].mean()

Latitudine     41.885803
Longitudine    12.484239
dtype: float64

# Add date, year, month, time, hour, weekday

In [30]:
df['DataOraIncidente'] = df['DataOraIncidente'].apply(lambda d: pd.to_datetime(d))
df['DataOraIncidente_date'] = df['DataOraIncidente'].apply(lambda d: d.date())
df['DataOraIncidente_time'] = df['DataOraIncidente'].apply(lambda d: d.time())
df['DataOraIncidente_time_h'] = df['DataOraIncidente'].apply(lambda d: d.time().hour)
df['DataOraIncidente_weekday'] = df['DataOraIncidente'].apply(lambda d: d.weekday())
df['DataOraIncidente_month'] = df['DataOraIncidente'].apply(lambda d: d.month)
df['DataOraIncidente_year'] = df['DataOraIncidente'].apply(lambda d: d.year)

In [31]:
df[['DataOraIncidente',
    'DataOraIncidente_date',
    'DataOraIncidente_time',
    'DataOraIncidente_time_h',
    'DataOraIncidente_month',
    'DataOraIncidente_year']].head()

,DataOraIncidente,DataOraIncidente_date,DataOraIncidente_time,DataOraIncidente_time_h,DataOraIncidente_month,DataOraIncidente_year
0,2007-01-01 00:00:00,2007-01-01,00:00:00,0,1,2007
1,2007-01-01 00:40:00,2007-01-01,00:40:00,0,1,2007
2,2007-01-01 01:10:00,2007-01-01,01:10:00,1,1,2007
3,2007-01-01 01:30:00,2007-01-01,01:30:00,1,1,2007
4,2007-01-01 01:30:00,2007-01-01,01:30:00,1,1,2007

# Store the dataset

In [32]:
df.to_csv('data/incidenti_2007_2017.csv', index=False)